---
layout: default
bodyClass: "page-buy"
---
<div class="container mt-4">
    <div class="row">
        <!-- Curio Card -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Curio</h2>
                    <img src="../images/Screenshot-2023-06-01-at-22.22.19-300x181.png" 
                         alt="Curio Image" class="img-fluid">
                    <p class="card-text mt-3">
                        You will soon be able to buy Curio. For now, please contact 
                        <a href="mailto:jonathan.grizou@glasgow.ac.uk">jonathan.grizou@glasgow.ac.uk</a> if interested.
                    </p>
                </div>
            </div>
        </div>

        <!-- Zumo + Pixl Card -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Zumo + Pixl</h2>
                    <img src="../images/Screenshot-2023-06-01-at-22.16.53-300x200.png" 
                         alt="Zumo + Pixl Image" class="img-fluid">
                    <p class="card-text mt-3">
                        A decent alternative is to combine a 
                        <a href="https://www.pololu.com/product/2510">Zumo robot</a> ($109) and a 
                        <a href="https://shop.espruino.com/espruino-boards/pixljs">Pixl Espruino board</a> (£36).
                    </p>
                    <p class="card-text">
                        Some of our demos use this combination which is quite powerful though more expensive, requires battery, 
                        and makes it hard to attach the phone to the robot.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
