---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container my-5">
    <div class="row justify-content-start align-items-center">
        <!-- Left Column: Text -->
        <div class="col-md-6">
            <h2>Trailer</h2>
            <p>Watch Curio in action on a printed racing track. Could you code this behavior?</p>
        </div>
        <!-- Right Column: Video -->
        <div class="col-md-6">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/dp8hpnosfeo?controls=1&rel=0&playsinline=0&modestbranding=0&autoplay=0&enablejsapi=1" 
                        title="Curio - Short Trailer" 
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row justify-content-start">
        <div class="col">
            <h2 id="Intro">Why Curio?</h2>
            <p>Curio is an <strong>affordable and future-proof</strong> educational platform to engage students in University level courses.</p>
            <p>It is designed to support the teaching of modern web development, UI/UX design, and AI/ML/Deep Learning, and is opinionated as follows:</p>
            <ul>
                <li><strong>Everything on the web.</strong> You connect to the robot via 
                    <a href="https://github.com/WebBluetoothCG/web-bluetooth">Web-Bluetooth</a>. 
                    The webpage can access all sensors on your device (e.g. camera, IMU) and 
                    communicate with other devices/services via the internet. You can even upload new 
                    code to the robot which itself runs a 
                    <a href="https://www.espruino.com/">Javascript interpreter</a>.
                </li>
                <li><strong>Affordable and convenient.</strong> It is all cheap stuff but well designed to 
                    serve its purpose. There is nothing more than what you need to get started, only 
                    two motors + wheels, a battery, a control board, and a wooden frame. Add your 
                    smartphone or laptop and you are ready to go.
                </li>
                <li><strong>Sharing is caring.</strong> Because everything is web-based, as soon as you 
                    have a demo working, you can host it online for free (e.g. 
                    <a href="https://pages.github.com/">GitHub Pages</a>, 
                    <a href="https://vercel.com/">Vercel</a>, 
                    <a href="https://www.netlify.com/">Netlify</a>, 
                    <a href="https://replit.com/">Replit</a>, etc.) and share it with the entire world 
                    by sending a link (e.g. via WhatsApp, Twitter). This makes iterating much faster and 
                    helps students show their work and spread it fast.
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row g-4"> 
        <!-- Joystick Controller -->
        <div class="col-md-4 text-center">
            <a href="https://trycurio.com/joystick">
                <img src="https://trycurio.com/wp-content/uploads/2023/05/1.png" width="198" height="198" alt="Joystick Controller">
            </a>
            <h2 class="mt-3">Joystick Controller</h2>
            <p>Drive Curio via a Joystick. 🕹️</p>
            <img src="https://trycurio.com/wp-content/uploads/2023/12/curioJoystick.gif" class="img-fluid" alt="Joystick Controller GIF">
        </div>

        <!-- Teleoperation -->
        <div class="col-md-4 text-center">
            <a href="https://trycurio.com/teleoperation">
                <img src="https://trycurio.com/wp-content/uploads/2023/05/3.png" width="185" height="185" alt="Teleoperation">
            </a>
            <h2 class="mt-3">Teleoperation</h2>
            <p>Explore around from a distance. 🕵🏻‍♂️</p>
            <a href="https://trycurio.com/teleoperation">
                <img src="https://trycurio.com/wp-content/uploads/2023/12/curioTeleoperation-1.gif" class="img-fluid" alt="Teleoperation GIF">
            </a>
        </div>

        <!-- Drive By Image -->
        <div class="col-md-4 text-center">
            <a href="https://trycurio.com/drive-by-image">
                <img src="https://trycurio.com/wp-content/uploads/2023/05/2.png" width="185" height="185" alt="Drive By Image">
            </a>
            <h2 class="mt-3">Drive By Image</h2>
            <p>Drive Curio via image recognition. 👈</p>
            <a href="https://trycurio.com/drive-by-image">
                <img src="https://trycurio.com/wp-content/uploads/2023/12/curioDriveByImage.png" class="img-fluid" alt="Drive By Image">
            </a>
        </div>
    </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for service in site.services limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "services" | relative_url }}">View All Services</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
