---
layout: default
bodyClass: "page-resources"
---

<div class="container mt-5">
    <h2 class="fw-bold">Resources</h2>

    <h2 class="bg-warning text-dark p-2 d-inline-block">CurioDev</h2>
    <p>It is our Github organization and you can find all projects and sources provided by us at 
        <a href="https://github.com/orgs/CurioDev/repositories">https://github.com/orgs/CurioDev/repositories</a>
    </p>

    <h2 class="bg-warning text-dark p-2 d-inline-block">Zumo + Pixl</h2>
    <ul class="list-group mb-4">
        <li class="list-group-item">Joystick Control – 
            <a href="https://zhefu8.github.io/joystick.github.io/">https://zhefu8.github.io/joystick.github.io/</a>
        </li>
        <li class="list-group-item">Joystick Control 2 – 
            <a href="https://lewistrundle.github.io/L4-Individual-Project/index.html">https://lewistrundle.github.io/L4-Individual-Project/index.html</a>
        </li>
    </ul>

    <h2 class="fw-bold">Legacy</h2>
    <p>Demos using our early prototype robot at 
        <a href="https://github.com/Kirstin813/L4-Individual-Project">https://github.com/Kirstin813/L4-Individual-Project</a>
    </p>

    <h2 class="bg-warning text-dark p-2 d-inline-block">Espruino Tools</h2>
    <p>Curio builds on the Espruino ecosystem, see 
        <a href="https://www.espruino.com/">https://www.espruino.com/</a>
    </p>
    <p>We are developing tools to build Espruino web-apps at 
        <a href="https://github.com/espruino-tools">https://github.com/espruino-tools</a>
    </p>
    <p>Demos at 
        <a href="https://demos-mu.vercel.app/demo">https://demos-mu.vercel.app/demo</a>
    </p>

    <h2 class="bg-warning text-dark p-2 d-inline-block">Smart Controller</h2>
    <ul class="list-group">
        <li class="list-group-item">Library – 
            <a href="https://smartcontrollerjs.github.io/SmartController/">https://smartcontrollerjs.github.io/SmartController/</a>
            <ul class="list-group mt-2">
                <li class="list-group-item">Tiny Platformer – 
                    <a href="https://emmapoliakova.github.io/WebRTCSmartphoneController/demo/tinyPlatformer/index.html">Tiny Platformer</a>
                </li>
                <li class="list-group-item">Racing – 
                    <a href="https://emmapoliakova.github.io/WebRTCSmartphoneController/demo/3dRacing.html">Racing</a>
                </li>
                <li class="list-group-item">Physics – 
                    <a href="https://emmapoliakova.github.io/WebRTCSmartphoneController/physics/physicsDemoV3.html">Physics</a>
                </li>
                <li class="list-group-item">Multiplayer – 
                    <a href="https://smartcontrollerjs.github.io/SmartController/Demos/touchpadmultiplayer.html">Multiplayer</a>
                </li>
                <li class="list-group-item">NES Controller – 
                    <a href="https://smartcontrollerjs.github.io/SmartController/Demos/nestutorial.html">NES Controller</a>
                </li>
            </ul>
        </li>
        <li class="list-group-item">Coin Chaser – 
            <a href="https://smartcontrollerjs.github.io/Coin-Chaser/">https://smartcontrollerjs.github.io/Coin-Chaser/</a>
        </li>
        <li class="list-group-item">Gotta Graduate – 
            <a href="https://fraser-dempster.github.io/l4-project-interactive-game/">https://fraser-dempster.github.io/l4-project-interactive-game/</a>
        </li>
    </ul>

    <h2 class="fw-bold">Tracks</h2>
    <p>Track repository at 
        <a href="https://github.com/CurioDev/curio-tracks">https://github.com/CurioDev/curio-tracks</a>
    </p>

    <h2 class="fw-bold">Sources</h2>
    <p>The source files for the previous version of Curio are at 
        <a href="https://github.com/gfwilliams/GlasgowPhoneBot">https://github.com/gfwilliams/GlasgowPhoneBot</a>
    </p>
</div>
