---
layout: default
bodyClass: "page-services"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    {% for service in site.services %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
          </h2>
          <p>{{ service.excerpt | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container mt-5">
    <h2 class="text-center">Resources</h2>
    <div class="row">
        
        <!-- Column 1 -->
        <div class="col-md-6">
            <h2 style="background-color: var(--ast-global-color-5); color: var(--ast-global-color-4); font-size: 2rem;">CurioV2</h2>
            <ul>
                <li>Joystick – <a href="https://curio-joystick-v2.vercel.app/">https://curio-joystick-v2.vercel.app/</a></li>
            </ul>
            
            <h2 style="background-color: var(--ast-global-color-5);">Curio</h2>
            <ul>
                <li>Joystick controller – <a href="https://curio-joystick.vercel.app/">https://curio-joystick.vercel.app/</a></li>
                <li>Teleoperation – <a href="https://curio-teleoperation.vercel.app/">https://curio-teleoperation.vercel.app/</a></li>
                <li>Drive-by-image – <a href="https://drive-by-image.vercel.app/">https://drive-by-image.vercel.app/</a></li>
                <li>Curio Host – <a href="https://curio-host.vercel.app/">https://curio-host.vercel.app/</a></li>
            </ul>
            
            <h2 style="background-color: var(--ast-global-color-5);">Zumo + Pixl</h2>
            <ul>
                <li>Joystick Control – <a href="https://zhefu8.github.io/joystick.github.io/">https://zhefu8.github.io/joystick.github.io/</a></li>
                <li>Joystick Control 2 – <a href="https://lewistrundle.github.io/L4-Individual-Project/index.html">https://lewistrundle.github.io/L4-Individual-Project/index.html</a></li>
            </ul>

            <h2>Legacy</h2>
            <p>Demos using our early prototype robot at <a href="https://github.com/Kirstin813/L4-Individual-Project">https://github.com/Kirstin813/L4-Individual-Project</a></p>

            <h2>Espruino Tools</h2>
            <p>Curio builds on the Espruino ecosystem, see <a href="https://www.espruino.com/">https://www.espruino.com/</a></p>
            <p>We are developing tools at <a href="https://github.com/espruino-tools">https://github.com/espruino-tools</a></p>
            <p>Demos at <a href="https://demos-mu.vercel.app/demo">https://demos-mu.vercel.app/demo</a></p>
        </div>

        <!-- Column 2 -->
        <div class="col-md-6">
            <h2>Smart Controller</h2>
            <ul>
                <li>Library – <a href="https://smartcontrollerjs.github.io/SmartController/">https://smartcontrollerjs.github.io/SmartController/</a></li>
                <ul>
                    <li>Tiny Platformer – <a href="https://emmapoliakova.github.io/WebRTCSmartphoneController/demo/tinyPlatformer/index.html">Tiny Platformer</a></li>
                    <li>Racing – <a href="https://emmapoliakova.github.io/WebRTCSmartphoneController/demo/3dRacing.html">Racing</a></li>
                    <li>Physics – <a href="https://emmapoliakova.github.io/WebRTCSmartphoneController/physics/physicsDemoV3.html">Physics</a></li>
                    <li>Multiplayer – <a href="https://smartcontrollerjs.github.io/SmartController/Demos/touchpadmultiplayer.html">Multiplayer</a></li>
                    <li>NES controller – <a href="https://smartcontrollerjs.github.io/SmartController/Demos/nestutorial.html">NES controller</a></li>
                </ul>
                <li>Coin Chaser – <a href="https://smartcontrollerjs.github.io/Coin-Chaser/">Coin Chaser</a></li>
                <li>Gotta Graduate – <a href="https://fraser-dempster.github.io/l4-project-interactive-game/">Gotta Graduate</a></li>
            </ul>

            <h2>Tracks</h2>
            <p>Track repository at <a href="https://github.com/CurioDev/curio-tracks">https://github.com/CurioDev/curio-tracks</a></p>

            <h2>Sources</h2>
            <p>The source files for the previous version of Curio are at <a href="https://github.com/gfwilliams/GlasgowPhoneBot">https://github.com/gfwilliams/GlasgowPhoneBot</a></p>
        </div>

    </div>
</div>
